<!DOCTYPE html>
<!--defines angular app and sets the controller -->
<html ng-app="ROICalculator" ng-controller="ROIController">
<!-- <html> -->
<head>
  <title>ROI Calculator</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--stylesheetss -->
  <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
  <!--Scripts -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
  <script type="text/javascript" src="./main.js"></script>

</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <h1>ROI Calculator</h1>
            <br><br>
          <div class="revenue-header">
            <p class="title">Enter One Time Revenue and Monthly Revenue</p>
          </div>
          <div class="list">
            <ul class="unstyled">
              <li ng-repeat="revenueEnter in revenueEnters ">
                <span class="done-{{revenueEnter}}">{{revenueEnter.text}}</span>
              </span class="done-{{revenueEnter.done}}">{{revenueEnter.monthly |currency}}</span>
              </span class="done-{{revenueEnter.done}}">{{revenueEnter.once | currency}}</span>
              </li>
            </ul>
            <form class="form-group clearfix" ng-submit="addRevenueEnter()">
              <input type="text" ng-model="revenueEnterText" class="form-control" placeholder="Enter New Revenue Item" required>
              <input type="number" ng-model="revenueOneTime"  placeholder="Enter One Time Revenue" required>
              <input type="number" ng-model="revenueMonthly" placeholder="Enter Monthly Revenue" required>
              <input class="btn btn-primary btn-sm" type="submit" value="Add Revenue Item">
            </form>
          </div>
        </div>
        <br><br>
      <div class="expense-header">
        <p class="title">Enter One Time Expense and Monthly Expenses</p>
      </div>
      <div class="list">
        <ul class="unstyled">
          <li ng-repeat="expenseEnter in expenseEnters ">
            <span class="done-{{expenseEnter}}">{{expenseEnter.text}}</span>
          </span class="done-{{expenseEnter.done}}">{{expenseEnter.monthly |currency}}</span>
        </span class="done-{{expenseEnter.done}}">{{expenseEnter.once | currency}}</span>
          </li>
        </ul>
        <form class="form-group clearfix" ng-submit="addExpenseEnter()">
          <input type="text" ng-model="expenseEnterText" class="form-control" placeholder="Enter New Expense Item" required>
          <input type="number" ng-model="expenseOneTime"  placeholder="Enter One Time Expense" required>
          <input type="number" ng-model="expenseMonthly" placeholder="Enter Monthly Expense" required>
          <input class="btn btn-primary btn-sm" type="submit" value="Add Expense Item">
        </form>
      </div>
        <div class="col-md-4">
          <div class="header">
            <p class="title">Total Revenue</p>
          </div>
            <div class="result">
              <span ng-model="revenueOneTotal">One-Time: {{revenueEnters | sumOfValue:'once' | currency}}</span>
              <br>
              <span ng-model="revenueMonthlyTotal">Monthly: {{revenueEnters | sumOfValue: 'monthly' | currency}}</span>
              <br>
              <span> Total:{{(revenueEnters | sumOfValue:'once') +(revenueEnters | sumOfValue: 'monthly') * 12 |currency }}</span>
            </div>
        </div>
        <div class="col-md-4">
          <div class="header">
            <p class="title">Total Expenses</p>
          </div>
            <div class="result">
              <span ng-model="expenseOneTotal">One-Time: {{expenseEnters | sumOfValue:'once' | currency}}</span>
              <br>
              <span ng-model="expenseMonthlyTotal">Monthly: {{expenseEnters | sumOfValue: 'monthly' | currency}}</span>
              <br>
              <span> Total:{{(expenseEnters | sumOfValue:'once') +(expenseEnters | sumOfValue: 'monthly') * 12 |currency }}</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
