<!doctype html>
<html ng-app="roicalculatorApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  </head>
  <body>
    <h2>One Time Revenue Items</h2>
    <div ng-controller="OneTimeRevenueController as oneTimeRev">


      <ul class="unstyled">
        <li ng-repeat="todo in oneTimeRev.todos">
          <label class="radio">
            <input type="radio" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <form ng-submit="oneTimeRev.addTodo()">
        <input type="text" ng-model="oneTimeRev.todoText"  size="30"
               placeholder="Add Item">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </body>
</html>
